<%= erb :header %>
<% if @today == @date_obj %>
<h2>Current Reminders</h2>
<% else %>
<h2>Reminders for <%= @date_obj %></h2>
<% end %>

<%= erb :list_card, locals: {title: 'Morning', rems: @am_rems} %>

<br/>

<%= erb :list_card, locals: {title: 'Evening', rems: @pm_rems} %>

<%= erb :footer %>
